body{
    background-color: rgb(255, 255, 255);
}
.header_div{
    background-color: aqua;
    border-radius: 60px;
}
.main_div{
    background-color: aqua;
    border-radius: 60px;
}
button{
    font-weight: bolder;
    border-radius: 60px;
    background-color: aqua;
}
img{
    image-resolution: 7680px;
    width: 400px;
    height: auto;
}
#copy_right_footer{
    background-color: blue;
    width: 100%;
}

