body{
    background-color: rgb(255, 255, 255);
}
.header_div{
    background-color: aqua;
    border-radius: 60px;
}
.main_div{
    background-color: aqua;
    border-radius: 60px;
}
button{
    font-weight: bolder;
    border-radius: 60px;
    background-color: aqua;
}
img{
    image-resolution: 7680px;
    width: 400px;
    height: auto;
}
#copy_right_footer{
    background-color: blue;
    width: 100%;
}

"O Iluminado" de Stephen King
"It" de Stephen King
"O Exorcista" de William Peter Blatty
"A Hora do Vampiro" de Anne Rice
"O Grito" de Edvard Munch
"O Chamado da Floresta" de Jack London
"Psycho" de Robert Bloch
"Drácula" de Bram Stoker
"As Crônicas de Nárnia" de C.S. Lewis
"O Fantasma da Ópera" de Gaston Leroux
"O Bebê de Rosemary" de Ira Levin
"O Labirinto dos Espíritos" de Carlos Ruiz Zafón
"A Hospedeira" de Stephenie Meyer
"O Senhor dos Anéis" de J.R.R. Tolkien
"A Bruma Assassina" de John Carpenter
"As Montanhas da Loucura" de H.P. Lovecraft
"A Lenda do Chupacabra"
"O Homem do Castelo Alto" de Philip K. Dick
"A Maldição de Hill House" de Shirley Jackson
"O Mensageiro" de David Wingrove
"A Casa das Trevas" de Dean Koontz
"A Lenda do Monte Everest"
"A Casa do Medo" de James Herbert
"O Natal do Monstro" de R.L. Stine
"A Noite dos Mortos Vivos" de George A. Romero
"A Casa do Lago" de Kate Morton
"O Convento" de Thomas M. Disch
"O Pântano" de Darren Shan
"O Cemitério" de Clive Barker
"A Espada da Verdade" de Terry Goodkind.